.header{

display:flex;

align-items:center;

justify-content:space-between;

padding:35px 50px;

background:white;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

margin-bottom:40px;

}

.fifaLogo{

width:90px;

height:auto;

}

.trophy{

width:90px;

height:auto;

}

.headerText{

text-align:center;

flex:1;

}

.subtitle{

font-size:14px;

letter-spacing:4px;

color:#0B1F4D;

font-weight:700;

margin-bottom:10px;

}

.headerText h1{

font-size:42px;

color:#0057B8;

margin-bottom:12px;

}

.description{

font-size:18px;

color:#555;

}
