.heroCard{

display:flex;

justify-content:space-between;

align-items:center;

padding:50px;

background:linear-gradient(135deg,#0B1F4D,#0057B8);

border-radius:28px;

overflow:hidden;

color:white;

box-shadow:0 25px 60px rgba(0,0,0,.15);

margin-bottom:40px;

transition:.35s;
border:4px solid #D4AF37;
}

.heroCard:hover{

transform:translateY(-6px);

}

.heroLeft{

flex:1;

}

.rankBadge{

display:inline-block;

background:#D4AF37;

padding:8px 18px;

border-radius:40px;

font-weight:bold;

margin-bottom:18px;

color:black;

}

.heroLeft h2{

font-size:48px;

margin-bottom:20px;

}

.countryRow{

display:flex;

align-items:center;

gap:12px;

margin-bottom:30px;

font-size:20px;

}

.countryRow img{

width:38px;

height:26px;

object-fit:cover;

border-radius:4px;

}

.stats{

display:flex;

gap:50px;

margin-bottom:35px;

}

.stat h3{

font-size:42px;

}

.stat p{

opacity:.85;

margin-top:6px;

}

.goldenBoot{

display:flex;

align-items:center;

gap:12px;

font-weight:600;

font-size:18px;

}

.goldenBoot img{

width:34px;

}

.heroRight{

flex:1;

display:flex;

justify-content:flex-end;

}

.heroRight img{

height:430px;

object-fit:contain;

transition:.35s;

}

.heroCard:hover .heroRight img{

transform:scale(1.05);

}
